# Basic Python

## Print
#### 1. Some of the methods offered by strings are:

- `capitalize()` – changes all string letters to capitals;
- `center()` – centers the string inside the field of a known length;
- `count()` – counts the occurrences of a given character;
- `join()` – joins all items of a tuple/list into one string;
- `lower()` – converts all the string's letters into lower-case letters;
- `lstrip()` – removes the white characters from the beginning of the string;
- `replace()` – replaces a given substring with another;
- `rfind()` – finds a substring starting from the end of the string;
- `rstrip()` – removes the trailing white spaces from the end of the string;
- `split()` – splits the string into a substring using a given delimiter;
- `strip()` – removes the leading and trailing white spaces;
- `swapcase()` – swaps the letters' cases (lower to upper and vice versa)
- `title()` – makes the first letter in each word upper-case;
- `upper()` – converts all the string's letter into upper-case letters.

#### 2. String content can be determined using the following methods (all of them return Boolean values):

- `endswith()` – does the string end with a given substring?
- `isalnum()` – does the string consist only of letters and digits?
- `isalpha()` – does the string consist only of letters?
- `islower()` – does the string consists only of lower-case letters?
- `isspace()` – does the string consists only of white spaces?
- `isupper()` – does the string consists only of upper-case letters?
- `startswith()` – does the string begin with a given substring?

print() berarti line kosong

In [1]:
print()

tanda '' atau "" digunakan untuk variabel string

In [2]:
print("Hello World")
print('Saya Willy\n')

Hello World
Saya Willy

untuk membuat duplikasi bisa menggunakan pola *

In [3]:
print('Willy'*2)
print()
print("    *    "*2)
print("   * *   "*2)
print("  *   *  "*2)
print(" *     * "*2)
print("***   ***"*2)
print("  *   *  "*2)
print("  *   *  "*2)
print("  *****  "*2)

WillyWilly

    *        *
   * *      * *
  *   *    *   *
 *     *  *     *
***   ******   ***
  *   *    *   *
  *   *    *   *
  *****    *****

tidak boleh ada 2 perintahaa dalam 1 baris

In [ ]:
print("Saya Willy") print('Saya Willo')

SyntaxError: invalid syntax (ipython-input-3311701867.py, line 2)

## formatting dengan special karakter

'\t' = untuk tab

'\n' = untuk enter

`\'` atau `\"` = untuk menyisipkan karakter

In [5]:
print('saya belajar\t bahasa "python"')
print('saya belajar\n bahasa "python"')
print()
print('nama saya \'Willy\'')

saya belajar	 bahasa "python"
saya belajar
 bahasa "python"

nama saya 'Willy'

end = mengubah karakter akhir dari baris pertama menjadi spasi

In [6]:
print('saya belajar', end=' ')
print('bahasa python')

saya belajar bahasa python

sep = membuat setiap item dipisahkan oleh tanda yang mengikutinya

In [7]:
print('tanpa sep:')
print('satu', 'dua', 'tiga\n')
print('dengan sep:')
print('satu', 'dua', 'tiga', sep=", ")
print('satu', 'dua', 'tiga', sep=" - ")
print('satu', 'dua', 'tiga', sep=" / ")

tanpa sep:
satu dua tiga

dengan sep:
satu, dua, tiga
satu - dua - tiga
satu / dua / tiga

## Literal
notasi untuk mensimbolkan nilai, dapat berupa string, boolean maupun angka (integer dan float)

In [33]:
print('"2" bertipe: ', type('2'))
print('2 bertipe: ', type(2))
print('.2 bertipe: ', type(.2))

print('\npython ver 3 membolehkan penulisan digit int dengan uderscore')
print(2_000_000)
print('\nfloat dipisahkan dengan titik bukan koma')

"2" bertipe:  <class 'str'>
2 bertipe:  <class 'int'>
.2 bertipe:  <class 'float'>

python ver 3 membolehkan penulisan digit int dengan uderscore
2000000

float dipisahkan dengan titik bukan koma

## Boolean
Logika benar salah, 1 bernilai benar (True) dan 0 bernilai salah (False)

In [35]:
print(True)
print(False)

print(4>2)
print(3>4)

True
False
True
False

## Operator Aritmatika
| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

| Prioritas| Operator |        |
|----------|----------|--------|
| 1        | +, -     | unary  |
| 2        | **       |        |
| 3        | *,/,//,% |        |
| 4        | +, -     | binary |

In [37]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3.)
print(2. ** .3)

8
8.0
8.0
1.2311444133449163

In [39]:
2 + 3 *5

17

In [40]:
print(9 % 6 % 2)
print(9 % 6)
print(3 % 2)

print(2 ** 2 ** 3)
print(2 ** 2)
print(2 ** 8)

1
3
1
256
4
256

In [41]:
print((5 * ((25 % 13)+100) / (2 * 13)) // 2)

10.0

## Variabel

In [42]:
var = 1
print(var)

1

Tulis rumus ini dalam kode program:<br/> $c=\sqrt{a^2+b^2}$

In [44]:
a=2.
b=3.
c=(a**2 + b**2) ** 0.5
print('c = ', c)

c =  3.605551275463989

## Exercise

Apa outputnya?
```python
var = 2
var = 3
print(var)

In [45]:
var = 2
var = 3

print(var)

3

Nama variabel mana yang ilegal?
```python
my_var
m
101
averylongvariablename
m101
m 101
Del
del
```

In [ ]:
print('my_var', 'm', 'averylongvariablename', 'm101', 'Del', sep=", ")

my_var, m, averylongvariablename, m101, Del

Apa Outputnya?
```python
a = '1'
b = "1"
print(a + b)
```

In [47]:
a = '1'
b = "1"
print(a+b)

11

Apa outputnya?

```python
a = 6
b = 3
a /= 2 * b
print(a)
```

In [48]:
a = 6
b = 3
a /= 2 * b

print(a)

1.0

## Input

In [49]:
print('Siapa Namamu: ')
sesuatu = input()
print('Halo', sesuatu)

Siapa Namamu:
Willy
Halo Willy

In [50]:
angka = float(input('Masukan Angka : '))
print('Pangkat duanya adalah ', angka**2)

Masukan Angka : 10
Pangkat duanya adalah  100.0

Latihan simple input output

In [51]:
print('Masukkan nilai a dalam float:')
a = float(input())
print('Masukkan nilai b dalam float:')
b = float(input())

Masukkan nilai a dalam float:
7.4
Masukkan nilai b dalam float:
2.3

In [52]:
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a * b = ', a*b)
print('a / b = ', a/b)

a + b =  9.7
a - b =  5.1000000000000005
a * b =  17.02
a / b =  3.2173913043478266

## Mutable dan Immutable
Mutable: List, Dictionary

Immutable: String, Bilang dan Tuple

In [53]:
a=20
print(a)
print(id(a))

20
11642696

In [54]:
a=30
print(a)
print(id(a))

30
11643016

In [55]:
a=[1,2,3,4]
print(a)
print(type(a))
print(id(a))

[1, 2, 3, 4]
<class 'list'>
139038630489600

In [56]:
a[0]=0
print(a)
print(id(a))

[0, 2, 3, 4]
139038630489600

## Latihan Q&A

Gunakan operator relasional untuk mendeteksi nilai integer < 100 atau >= 100

Test Data

Sample input: 55

`Expected output: False`

Sample input: 99

`Expected output: False`

Sample input: 100

`Expected output: True`

Sample input: 101

`Expected output: True`

Sample input: -5

`Expected output: False`

Sample input: +123

`Expected output: True`

In [60]:
a=int(input('Sample input: '))
print('Expected output: ', a>=100)

Sample input: +123
Expected output:  True

## Logika

### If satu kondisi
Bentuk umum penggunaan perintah if untuk satu kasus dalam Python adalah :

```python
if kondisi:
    statement1
    statement2

In [63]:
a = 5
b = 5

if a==b:
    print('a sama dengan b')

a sama dengan b

### If dua kondisi
Untuk pemilihan yang mengandung dua kasus, bentuk umum yang digunakan adalah :

```python
if kondisi :
    statement1
    statement2
    ...
else
    statement_alternatif1
    statement_alternatif2
    ...
```

In [64]:
a = 5
b = 6

if a==b:
    print('oke')
    print('berhasil')
else:
    print('Gagal')

Gagal

Latihan

Memasukan bilangan bulat dan mendeteksi bilangan tersebut genap / ganjil.

In [65]:
bil = int(input('Masukan bilangan bulat: '))

if(bil%2 == 0):
    print('genap')
else:
    print('ganjil')

Masukan bilangan bulat: 8
genap

### If banyak kondisi
Struktur pemilihan jenis ini merupakan bentuk yang paling kompleks jika dibandingkan dengan kedua jenis yang sudah di bahas diatas. Dalam struktur ini, ada beberapa kondisi yang harus diperiksa oleh program. Bentuk umum penggunaan perintah if untuk tiga kasus atau lebih adalah :

```python
if kondisi1:
    statement1a
    statement1b
    ...
elif kondisi2:
    statement2a
    statement2b
    ...
else:
    statement_alternatif1
    statement_alternatif2
    ...

Latihan 2
- Jika x>0 dan y>0 maka titik akan berada pada Kuadran I
 - Jika x<0 dan y>0 maka titik akan berapa pada Kuadran II
 - Jika x<0 dan y<0 maka titik akan berada pada Kuadran III
 - JIka x>0 dan y<0 maka titik akan berada pada Kuadran IV
 - Jika keepat kondisi ini tidak dapat dipenuhi, maka titik tidak termasuk pada kuadran manapun

In [67]:
print('Masukan nilai koordinat')
x = int(input('Nilai x: '))
y = int(input('Nilai y: '))

if x>0 and y>0:
    print('Koordinat ('+ str(x) + ','+ str(y) +') berada pada Kuadran I' )
elif x<0 and y>0:
    print('Koordinat ('+ str(x) + ','+ str(y) +') berada pada Kuadran II' )
elif x<0 and y<0:
    print('Koordinat ('+ str(x) + ','+ str(y) +') berada pada Kuadran III' )
elif x>0 and y<0:
    print('Koordinat ('+ str(x) + ','+ str(y) +') berada pada Kuadran IV' )
else:
    pass

Masukan nilai koordinat
Nilai x: 7
Nilai y: 13
Koordinat (7,13) berada pada Kuadran I

Latihan 3
Mencari bilangan terbesar, dari 3 inputan (a, b dan c)

In [68]:
num1 = int(input('First Number : '))
num2 = int(input('Second Number : '))
num3 = int(input('Third Number : '))

#set num1 sebagai yang terbesar
largestNum = num1

#deteksi apakah num2 > num1
if num2 > largestNum:
    largestNum = num2

#deteksi apakah num3 > num2
if num3 > largestNum:
    largestNum = num3

print('The largest number is: ', largestNum)

First Number : 4
Second Number : 7
Third Number : 4
The largest number is:  7